# Wazuh - Filebeat configuration file

{% set site_server_group = group_names | select('match', 'site_.*_server') | list | first %}
{% set site_id = site_server_group | regex_replace('site_(.*)_server', 'site_\\1') %}
{% set indexer_group = site_id + '_indexer' %}
{% set indexer_hosts = groups[indexer_group] | map('extract', hostvars, 'ansible_host') | list %}

# DEBUG: Rendering for {{ inventory_hostname }}
# DEBUG: This server is in groups: {{ group_names }}
# DEBUG: Using indexer group: {{ indexer_group }}
# DEBUG: Indexer hosts: {{ indexer_hosts }}


output.elasticsearch:
  hosts: [{% for ip in indexer_hosts %}"{{ ip }}:9200"{% if not loop.last %}, {% endif %}{% endfor %}]
  protocol: https
  username: "admin"
  password: "admin"
  ssl.certificate_authorities:
    - /etc/filebeat/certs/root-ca.pem
  ssl.certificate: "/etc/filebeat/certs/filebeat.pem"
  ssl.key: "/etc/filebeat/certs/filebeat-key.pem"

setup.template.json.enabled: true
setup.template.json.path: '/etc/filebeat/wazuh-template.json'
setup.template.json.name: '{{ indexer_group }}'
setup.ilm.overwrite: true
setup.ilm.enabled: false

filebeat.modules:
  - module: wazuh
    alerts:
      enabled: true
    archives:
      enabled: false

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7
  permissions: 0644

logging.metrics.enabled: false

seccomp:
  default_action: allow
  syscalls:
    - action: allow
      names:
        - rseq
